In [1]:
# Importing pandas, numpy, matplotlib

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
# Object Creation 

# Creating a pandas series by passing it values
s = pd.Series([1, 4, 5, np.nan, 0, 6])
print (s)

0    1.0
1    4.0
2    5.0
3    NaN
4    0.0
5    6.0
dtype: float64

In [18]:
# Creating pandas Dataframes which is 2 dimensional tabular data structure with axis as labelled

# Create a Dataframe of dimension (5*4) with random values
df = pd.DataFrame(np.random.randn(5, 4))

df

          0         1         2         3
0 -0.567966 -0.731352  1.110119  1.140822
1 -0.820889 -0.525868  0.269783  1.288772
2  0.686134 -0.690563 -1.364859  0.636510
3  0.536785 -1.244897 -0.271328  1.165742
4  0.374095 -0.560167 -1.648515  0.566331

In [19]:
# Creating a dataframe of dimension (5*4) with random values and column names given as parameter
df = pd.DataFrame(np.random.randn(5, 4), columns=["a", "b", "c", "d"])

df

          a         b         c         d
0 -0.364783 -0.292649 -0.125805  0.369628
1 -0.170499 -0.003765  0.256173 -1.102150
2 -1.047593  0.594369  0.049334 -0.906129
3 -1.364403  0.848898  1.142123 -0.400375
4  1.049768  2.009491  0.727251  0.204217

In [20]:
# Creating a list of dates starting from `2013-03-12`. 
dates = pd.date_range("20130312", periods=8)
dates

DatetimeIndex(['2013-03-12', '2013-03-13', '2013-03-14', '2013-03-15',
               '2013-03-16', '2013-03-17', '2013-03-18', '2013-03-19'],
              dtype='datetime64[ns]', freq='D')

In [22]:
df = pd.DataFrame(np.random.randn(8, 4), index=dates, columns=list('ABCD'))

df

                   A         B         C         D
2013-03-12 -0.200288 -2.345650  0.199257  0.495598
2013-03-13 -1.424278 -0.830500  0.144725 -0.526709
2013-03-14  1.344977  0.268884  0.415231 -0.077826
2013-03-15 -1.535860 -0.458791  0.355597  0.688817
2013-03-16 -1.594948  2.591793 -0.940239 -0.457441
2013-03-17 -2.342706 -0.664124 -0.564183  0.893513
2013-03-18 -0.790811  0.445447  0.010357 -1.113932
2013-03-19 -0.260569  0.260448 -0.976491  1.354920

In [36]:
# Creating a dataframe by passing dict of objects which can converted to series type

df1 = pd.DataFrame({ 'A': 5, 
                     'B': pd.Timestamp('20140522'),
                     'C': np.array([2, 3, 4, 5]), 
                     'D': pd.Series(np.random.randn(4), dtype='float32'),
                     'E': 'foo',
                     'F': pd.Categorical(['aaa', 'bbb', 'ccc', 'ddd']),
                     'G': np.array([3]*4, dtype='int32')})
df1

   A          B  C         D    E    F  G
0  5 2014-05-22  2 -0.039217  foo  aaa  3
1  5 2014-05-22  3  0.089291  foo  bbb  3
2  5 2014-05-22  4  0.966860  foo  ccc  3
3  5 2014-05-22  5 -0.249424  foo  ddd  3

In [37]:
# Printing the datatype sof each column
df1.dtypes

A             int64
B    datetime64[ns]
C             int64
D           float32
E            object
F          category
G             int32
dtype: object